; This is a sample configuration file
; Comments start with ';'

[CONFIG]
;uncomment to activate auth factor
;is_auth = true

[SERVER]
;values used only if is_auth is true
;user = test@test.com
;api_key = password
host = localhost/
;uncomment if you want a different port
;port = 80
 
 