; This is a sample configuration file
; Comments start with ';'

[CONFIG]
;uncomment to activate auth factor
;is_auth = true

;all the values for target server
[SERVER]
host = localhost
;uncomment if you want a different port
;port = 80
;insert the root, the client will redirect you to the right route for each Class
;path = /